.section-container {
  background: #a4e5e0;
  min-height: 76vh;
  border-top-right-radius: 12rem;
  border-bottom-left-radius: 12rem;
  animation: elastic 1s ease;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.507);
}

.--section__elements-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #0c6170;
  font-family: "Reem Kufi";
}

.about-me-text-container {
  padding: 2rem;
}

.section-main-container {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section-main-container > .section_text {
  max-width: 45%;
  overflow-y: auto;
}

.section-main-container img {
  width: 28rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .section-main-container > .section_text {
    max-width: 60%;
    max-height: 250px;
  }
  .section-main-container img {
    width: 20rem;
    padding: 1rem;
  }
}
@media (max-width: 376px) {
  .section-main-container img {
    width: 18rem;
    padding: 1rem;
  }
}
