@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

/* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--white-front); */

nav {
  background: var(--blue-primary);
  box-shadow: 0px 7px 4px rgba(46, 60, 116, 0.5);
}

nav > .elements-wrapper {
  padding: 1.4rem 4rem;
  display: flex;
  justify-content: space-between;
}

nav > .elements-wrapper > .logo {
  align-items: flex-start;
}

nav > .elements-wrapper > .logo a {
  font-family: "Reem Kufi";
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
}

nav > .elements-wrapper > .logo:hover a {
  color: var(--green-primary);
}

nav a {
  color: var(--white-front);
  text-decoration: none;
  font-family: "Poppins";
}

nav > .elements-wrapper > .nav-pages-links {
  align-items: center;
}

nav > .elements-wrapper > .nav-pages-links > a {
  padding: 10px 12px;
  margin: 6px;
  line-height: 40px;
}
nav > .elements-wrapper > .nav-pages-links > a:hover {
  cursor: pointer;
  color: var(--green-primary);
}

nav > .elements-wrapper > .nav-social-links {
  align-items: flex-end;
}
nav > .elements-wrapper > .nav-social-links > a > i {
  padding: 0.4rem;
  font-size: 1.2rem;
  animation: tada 1s ease;
}

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  animation-name: roll-in-left;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  /* shorthand 
  animation: roll-in-left 1s ease 0s 1 normal none;
  */
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.nav-social-links .fa-facebook:hover {
  color: #4267b2;
  transition: 0.2s ease-in;
}
.nav-social-links .fa-instagram:hover {
  color: #8a3ab9;
  transition: 0.2s ease-in;
}
.nav-social-links .fa-twitter:hover {
  color: #00acee;
  transition: 0.2s ease-in;
}
.nav-social-links .fa-github:hover {
  color: #171515;
  transition: 0.2s ease-in;
}

nav {
  animation-name: slit-in-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: slit-in-horizontal 1s ease 0s 1 normal none;
  */
}
@keyframes slit-in-horizontal {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateX(0);
  }
}
