@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");

/* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--white-front); */

nav {
  background: var(--blue-primary);
  box-shadow: 0px 7px 4px rgba(46, 60, 116, 0.5);
  max-height: 5rem;
}

nav > .elements-wrapper {
  padding: 1.4rem 4rem;
  display: flex;
  justify-content: space-between;
}

nav > .elements-wrapper > .logo {
  align-items: flex-start;
}

nav > .elements-wrapper > .logo a {
  font-family: "Reem Kufi";
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
}

nav > .elements-wrapper > .logo:hover a {
  color: var(--green-primary);
}

nav > .elements-wrapper > .logo:hover {
  animation: tada 0.8s ease-in;
}

nav a {
  color: var(--white-front);
  text-decoration: none;
  font-family: "Poppins";
}

nav > .elements-wrapper > .nav-pages-links {
  align-items: center;
}

nav > .elements-wrapper > .nav-pages-links > a {
  padding: 10px 12px;
  margin: 6px;
  line-height: 40px;
}
nav > .elements-wrapper > .nav-pages-links > a:hover {
  cursor: pointer;
  color: var(--green-primary);
  animation: tada 1s ease;
}

nav > .elements-wrapper > .nav-social-links {
  align-items: flex-end;
}
nav > .elements-wrapper > .nav-social-links > a > i {
  padding: 0.4rem;
  font-size: 1.2rem;
}

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  animation-name: roll-in-left;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  /* shorthand 
  animation: roll-in-left 1s ease 0s 1 normal none;
  */
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes menu-animation {
  0% {
    transform: rotate(-540deg);
    font-size: 4rem;
  }
  100% {
    transform: rotate(0deg);
    font-size: 1.3rem;
  }
}

.menu-animation {
  animation: menu-animation 1s ease 0s 1 normal none;
}

.fa-facebook:hover {
  color: #557dce;
  transition: 0.2s ease-in;
}
.fa-instagram:hover {
  color: #a257ce;
  transition: 0.2s ease-in;
}
.fa-twitter:hover {
  color: #00acee;
  transition: 0.2s ease-in;
}
.fa-github:hover {
  color: #808080;
  transition: 0.2s ease-in;
}

nav {
  animation-name: slit-in-horizontal;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  /* shorthand 
  animation: slit-in-horizontal 1s ease 0s 1 normal none;
  */
}
@keyframes slit-in-horizontal {
  0% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
  50% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotateX(0);
  }
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.toggle-btn > button {
  background: none;
  border: none;
  color: var(--white-front);
  font-size: 1.3rem;
  float: right;
  position: relative;
  top: -3.2rem;
  right: 3rem;
  cursor: pointer;
  display: none;
}

.small-screen-nav {
  display: none;
}

@keyframes flipiny {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
}

.small-nav {
  background-color: var(--blue-primary);
  float: right;
  width: 224px;
  height: 400px;
  position: relative;
  top: -1px;
  border-bottom-left-radius: 80%;
  right: -0.9rem;
  box-shadow: 0px 4px 8px 4px rgba(46, 60, 116, 0.5);
  display: none;
  animation: flipiny 1s ease 0s 1 normal;
}

.small-nav-wrapper {
  padding: 1.4rem 4rem;
}

.small-nav-wrapper > ul > li {
  list-style: none;
  padding: 0.8rem;
  width: 120px;
  margin-top: 5px;
}
.small-nav-wrapper > ul > li:hover {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

@media (max-width: 780px) {
  .nav-pages-links {
    display: none;
  }
  .toggle-btn > button {
    display: block;
  }
  .nav-social-links i {
    display: none;
  }
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
  .fa-bars {
    color: var(--green-primary);
    transition: 0.2s ease-in;
  }
  .fa-times {
    color: tomato;
    transition: 0.2s ease-in;
  }
  .small-screen-nav {
    display: block;
  }
}

.small-nav-wrapper .--small-nav_social-links {
  padding: 1rem;
  position: relative;
  left: -15px;
  width: 170px;
}

.small-nav-wrapper .--small-nav_social-links a {
  padding: 4px 7px;
  font-size: 1.3rem;
}

.small-nav-wrapper .--small-nav_social-links a:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.267);
}
