:root {
  --background-gradient: radial-gradient(
    circle at 28% 50%,
    rgba(92, 219, 149, 1) 0%,
    rgba(142, 228, 226, 1) 100%
  );
  --blue-primary: #05386b;
  --white-front: #edf5e1;
  --green-primary: #5cdb95;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
